@model IEnumerable<KuShop.ViewModels.BuyVM>
@using System.Globalization;
@{
    CultureInfo us = new CultureInfo("en-US");
    string theDate;
    //ถ้าไม่ได้ระบุวันให้เป็นวันปัจจุบัน
    if (ViewBag.theDate!=null)
        theDate = ViewBag.theDate;
    else
        theDate = DateTime.Now.Date.ToString("yyyy-MM-dd", us);
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning">@TempData["ErrorMessage"]</div>
}

<style>
    a {
        text-decoration: none;
    }
</style>
<h1 class="text-success">ซื้อสินค้าเข้าร้าน</h1>

<form asp-controller="Buying" asp-action="Index">
    <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-9">
            <a class="btn btn-primary" asp-action="Create">
                <i class="bi bi-plus-lg"></i>    เพิ่ม
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 text-end">
            <div class="input-group">
                <span class="input-group-text">วันที่</span>
                <input type="text"  name="theDate" id="theDate" class="form-control" value="@theDate" />
                <button type="submit" class="btn btn-secondary"><i class="bi-search"></i></button>
            </div>
        </div>

    </div>
</form>

<table class="table table-borderless table-hover">
    <tr>
        <th></th>
        <th>เลขที่</th>
        <th colspan="2">ผู้จัดจำหน่าย</th>
        <th>วันที่</th>
        <th>ผู้ขาย</th>
        <th>เอกสารอ้างอิง</th>
        <th class="text-end">จำนวนสินค้า</th>
        <th class="text-center">ยอดเงิน</th>
    </tr>
    @{
        var i = 0;
    }
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>
                <a asp-action="Show" asp-route-buyid="@item.BuyId">
                    @item.BuyId
                </a>
            </td>
            <td>@item.SupId</td>
            <td>@item.SupName</td>
            <td>@item.BuyDate.Value.ToString("yyyy-MMM -dd")</td>
            <td>@item.Saleman</td>
            <td>@item.BuyDocId</td>
            <td class="text-end">@item.BuyQty</td>
            <td class="text-end">@item.BuyMoney</td>
        </tr>
    }
</table>

<!--กำหนดพื้นที่ Script -->
@section Scripts {
    <script>
        //ระบุ id ที่ต้องการใช้
        $('#theDate').datetimepicker({
            timepicker: false,
            datepicker: true,
            format: 'Y-m-d'
        })

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
